<div id="local">
	<h2>{{message}}</h2><hr>
</div>
<div>
	<h2 class="title text-center">WHAT WE DO...</h2>
	<div id="title-content">
		<div class="row">
		    <div class="col-sm-8 col-sm-offset-2">
				<p>The Beauty Parlour offers a full range of salon treatments and styling services provided by Mrs. Uma Rani, all in a clean air environment.</p> 
				<p>We have everything you will ever need to take care of your body.</p>
			</div>
		</div>
	</div>
	<div class="row title-content">
		<div class="col-sm-12 col-sm-offset-1">
			<div class="col-sm-5 text-center">
				<div><h3 class="text-left title">Threading</h3></div>
				<div class="row" ng-repeat="tstyle in thread | orderBy : 'price'">
    				<div class="col-md-6"><span class="pull-left">{{tstyle.name}}</div>
    				<div class="col-md-6"><span class="pull-right">Rs. {{tstyle.price}}</span></div>
  				</div>
				<div><h3 class="text-left title">Hair Styles</h3></div>
				<div class="row" ng-repeat="hstyle in hairstyle | orderBy : 'price'">
    				<div class="col-md-6"><span class="pull-left">{{hstyle.name}}</div>
    				<div class="col-md-6"><span class="pull-right">Rs. {{hstyle.price}}</span></div>
  				</div>
			</div>
			<div class="col-sm-5 text-center">
				def
			</div>
		</div>
	</div>
</div>